.line{
    display: flex;
}
.container{
    width: 940px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.line2{
    display: flex;
}
.container2{
    width: 940px;
}
.container3{
    width: 706px;
}
.container4{
    width: 706px;
}
.line3{
    display: flex;
}
.container5{
    width: 1922px;
}
.line4{
    display: flex;
}
.container6{
    width: 960px;
}
.container7{
    width: 960px;
}
h1{
    font-size: 36px;
}
button{
    background-color: #FF6433;
    border-radius: 10px;
    height: 50px;
    font-size: 18px;
    width: 150px;
}